* {
  font-family: "Merriweather", Georgia, serif;
  color: aliceblue;
}

body,
html {
  height: 100%; 
  margin: 0; 
  padding: 0;
  background-color: rgb(139, 93, 224);
}

.columns {
  display: flex;
  height: 97.5%; 
}

.column1 {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  flex: 40%;
  border: 1px solid #3b3a3a;
}

.leaf {
  width: 65%;
  height: auto;
  justify-content: center;
  transition: transform 0.1s;
}

.leaf:hover {
  cursor: pointer;
}

.leaf.zoomed {
  transform: scale(1.1); 
}

.column2 {
  display: flex;
  flex-direction: column; 
  flex: 40%;
  border-top: 1px solid #3b3a3a;
  border-bottom: 1px solid #3b3a3a;
  
}

.column2 div{
    border-bottom: 1px solid #3b3a3a;
    height: 110px;
}

.column3 {
  display: flex;
  flex-direction: column; 
  border: 1px solid #3b3a3a;
  flex:  20%;
  user-select: none;
}

.column3 div{
    border-bottom: 1px solid #3b3a3a;
    padding-bottom: 30px;
    cursor: pointer;
}

.column3 img{
  width: 50px;
  height: 50px;
}

.info-oculto{
  display: none;
  position: absolute;
  right: 24rem;
  z-index: 2;
}

.powerUp1:hover + .info-oculto{
  display:block;
}

.column3 {
  
}

.leaf{
  user-select: none;
  -webkit-user-drag: none;
}